@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Custom Scrollbar para el look moderno */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155; /* slate-700 */
    border-radius: 20px;
}
body {
    @apply bg-slate-950 text-slate-100; /* Fondo global muy oscuro */
}